body {
  width: 700px;
  margin: auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background-color: rgb(49, 45, 45);
  color: white;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
}

input {
  width: 80px;
}
